* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Fraunces", serif;
  max-width: 1440px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 700px;
  height: 460px;
  border-radius: 10px;
  display: flex;
}

.left-sides {
  background-image: url("./images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 460px;
  border-radius: 10px;
}

.title p {
  font-family: "Montserrat", sans-serif;
  margin: 35px 20px 20px 35px;
  color: hsl(228, 12%, 48%);
}

.title h1 {
  margin: 20px 30px 25px 35px;
  width: 197px;
  color: hsl(212, 21%, 14%);
}

.description p {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin: 0px 0px 5px 27px;
  padding: 0 5px;
  width: 227px;
}

.price {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 20px;
}

.cyan {
  color: hsl(158, 36%, 37%);
  margin-right: 15px;
}

.grayish {
  color: hsl(228, 12%, 48%);
  margin-right: 60px;
  margin-top: 9px;
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  margin: 0px 30px;
  border-radius: 8px;
  padding: 15px 80px;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(212, 21%, 14%);
}

button > img {
  padding: 0 12px;
}

@media (max-width: 375px) {
  body {
    max-width: 375px;
  }

  main {
    margin: 10px 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 670px;
  }

  .left-sides {
    background-image: url("./images/image-product-mobile.jpg");
    background-position: center;
    width: 330px;
    height: 240px;
  }

  .title h1 {
    width: 240px;
    margin: 15px 30px 20px 37px;
  }

  .description p {
    font-size: 15px;
    width: 256px;
  }

  .price {
    font-size: 18px;
  }

  button {
    padding: 18px 72px;
    margin-top: 5px;
  }
}
